.base {
    background-color:#297B48;
}


html {
height:100%;
}
/***Button styling***/

.defaultButton {
    width:200px;
    height:40px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius:10px;
    padding:5px;
}

.defaultButton__small {
    width:150px;
    margin-top:10px;
}

.defaultButton:hover:enabled {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.defaultButton--frontpage {
    background-color:goldenrod;
}

.buttonContainer {
    float:right;
    margin-right:20px;
}

.buttonContainerHome {
    float:right;
    margin-right:20px;
    top: -40px;
    position: relative;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover:enabled,
button:focus:enabled {
    background: rgb(250, 189, 36);
}

button:focus {
    outline:none;
}

button:active:enabled {
    transform: scale(0.99);
}

/***********/

/** small button **/


.nextDayButtonContainer {
    float:left;
    width:40px;
    padding:5px;
  }

.nextButton {
    width:30px;
    height:28px;
    border-radius: 10px;
    padding: 0;
    transition: all 0.2s;
}

.nextButton:hover:enabled {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.nextButton:disabled{
    transition: none;
    box-shadow: none;
    cursor:auto;
}

.nextButton--frontpage {
    background-color:goldenrod;
}

.marginBottom {
    margin-bottom:10px;
}

.mousePointer {
    cursor: pointer;
}

.pullLeft {
    float:left;
}
.pullRight {
    float:right;
}
.imgAlign {
    margin-top:-4px;

}

.imgSpin45 {
    transition:all 0.8s;
}
.imgSpin45:hover {
    -webkit-transform: rotate(45deg);
    transform:rotate(45deg);
}


.circle {
    border-radius: 50%;
    height:64px;
    width: 64px;
    background-color:green;
}