.equipmentInputContainer {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  width: 770px;
  margin-top: 60px;
  background-color:white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.equipmentInputContainer__quick {
  width: 450px;
}

.equipmentTitle {
  float: left;
  font-size: 24px;
  font-weight: 500;
  margin-left:10px;
}
.equipmentCategories {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  padding-bottom:5px;
}

.equipmentForm {
  width: 250px;
}

.equipmentInventory {
  width: 300px;
}

.inputField {
  margin-top: 15px;
  width: 0;
}
.inputButton {
  margin-top: 15px;
}

.table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.rw-widget > .rw-widget-container {
  width: 220px;
  margin: 0;
}