.city {
  font-size: 18px;
  font-weight: 500;
}

.weatherContainer {
  float:left;
  width:160px;
  background-color:white;
}

.weatherInfoContainer {
  float:left;
  width:100px;
  height:120px;
  background-color:white;
}

.peppText {
  padding:30px;
}

.citySelectionContainer {
  width:auto;
  height:40px;
  float:left;
  background-color:white;
}

.cityContainer {
  float:left;
  background-color:white;
}

.dayContainer {
  float:left;
  width:250px;
  height:40px;
  background-color:white;
}

.selectDay {
  float:left;
  width:auto;
  margin-top:5px;
}
